.cproject
.project
.settings
*.d
*.o
build/
aclocal.m4
autom4te.cache/
autoscan.log
config.guess
config.sub
config.log
config.status
configure
configure.scan
doc/
install-sh
Makefile
libggl.so.*
ltmain.sh
src/ggl/config.h
src/ggl/config.h.in
src/ggl/config.h.in~
