.cproject
.project
.settings
*.d
*.o
build/
aclocal.m4
autom4te.cache/
autoscan.log
config.guess
config.sub
config.h
config.h.in
config.h.in~
config.log
config.status
configure
configure.scan
install-sh
Makefile
libggl.so.*
ltmain.sh
